<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1.11-beta-4">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@1.11-beta-4">
    <script>echo &apos;one&apos;;
checkpoint &apos;x&apos;;
echo &apos;two&apos;</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
</flow-definition>