<?xml version='1.0' encoding='UTF-8'?>
<flow-definition>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition">
    <script>def flow
node('slave') {
    git url: '/var/lib/jenkins/workflow-plugin-pipeline-demo'
    flow = load 'flow.groovy'
    flow.devQAStaging()
}
flow.production()
</script>
  </definition>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>* * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
</flow-definition>
