<?xml version='1.0' encoding='UTF-8'?>
<org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject plugin="workflow-multibranch@1.9-beta-1">
  <actions/>
  <description></description>
  <sources>
    <jenkins.branch.BranchSource plugin="branch-api@0.2-beta-4">
      <source class="jenkins.plugins.git.GitSCMSource" plugin="git@2.3.5">
        <id>5bb71116-2b8c-437b-baaa-2947e1ca947f</id>
        <remote>git://localhost/repo</remote>
        <credentialsId></credentialsId>
        <includes>*</includes>
        <excludes></excludes>
        <ignoreOnPushNotifications>false</ignoreOnPushNotifications>
      </source>
      <strategy class="jenkins.branch.DefaultBranchPropertyStrategy">
        <properties class="empty-list"/>
      </strategy>
    </jenkins.branch.BranchSource>
  </sources>
  <deadBranchStrategy class="jenkins.branch.DefaultDeadBranchStrategy" plugin="branch-api@0.2-beta-4">
    <pruneDeadBranches>true</pruneDeadBranches>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>1</numToKeep>
  </deadBranchStrategy>
  <factory class="org.jenkinsci.plugins.workflow.multibranch.WorkflowBranchProjectFactory">
    <owner class="org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject" reference="../.."/>
  </factory>
  <views>
    <hudson.model.ListView>
      <owner class="org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*</includeRegex>
      <recurse>false</recurse>
    </hudson.model.ListView>
  </views>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <primaryView>All</primaryView>
  <triggers>
    <com.cloudbees.hudson.plugins.folder.computed.PeriodicFolderTrigger plugin="cloudbees-folder@5.1-beta-2">
      <spec>* * * * *</spec>
      <interval>60000</interval>
    </com.cloudbees.hudson.plugins.folder.computed.PeriodicFolderTrigger>
  </triggers>
</org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject>
